<div class="container-fluid px-0">
    <div class="card_temperatura">
        <div class="empleado">
            <p>Codigo del empleado: {{dataTemp.codigo}}</p>
        </div>
        <div class="card_temperature_title">
            <p>Temperatura actual:</p>
        </div>
        <div class="card_temperature_data {{textClass}}">
            <p>{{dataTemp.temperatura}}</p>
        </div>
        <div class="card_temperatura_diagnostico {{textClass}}">
            <p>{{diagnostico}}</p>
        </div>
    </div>
</div>