<div class="container-fluid px-0">
    <div class="container_panel">
        <div class="container_grafico">
            <p>Ver los registros hasta la fecha:</p>
            <!-- <div class="input_graf">
                <input type="text" placeholder="codigo...">
            </div>
            <div class="button_graf">
                <button class="btn btn-danger" (click)="redirigirgraf()">Ver grafico</button>
            </div> -->
        </div>
        <div class="container_registros">
            <button class="btn btn-warning" (click)="redirigirreg()">Registros en general</button>
        </div>
    </div>
</div>