
<div class="container-fluid px-0">
    <div class="card_temperatura">
        <div class="card_temperature_title">
            <p>Temperatura actual:</p>
        </div>
        <div class="card_temperature_data {{textClass}}">
            <p>{{temperaturaCorp}}</p>
        </div>
        <div class="card_temperatura_diagnostico {{textClass}}">
            <p>{{diagnostico}}</p>
        </div>
    </div>
    <div class="card_temperature_buttons">
        <div class="card_temperature_input">
            <input type="text" placeholder="Codigo de usuario:">
        </div>
        <div class="card_temperature_button">
            <button type="button" class="btn btn-dark">Registrar</button>
        </div>
    </div>
</div>
